PORT=
MONGODB_URI=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=
COLLEGE_EMAIL_DOMAINS=college.edu,university.edu
STUDENT_REQUIRES_ADMIN_APPROVAL=false
EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
FILE_STORAGE_DRIVER=local
NODE_ENV=development
